{% extends 'fragments/base.html' %}

{% block content %}

<div class="col-12 mb-2">
    <div class="card bg-light" style="height:200px">
        <div class="card-body">
            <p class="card-text">Some text inside the first card</p>
        </div>
    </div>
</div>
<div class="col-12 mb-2">
    <div class="card bg-light" style="height:200px">
        <div class="card-header">
            Header
        </div>
        <div class="card-body">
            <h5 class="card-title">Proposal Title</h5>
            <h6 class="card-subtitle text-muted">By User</h6>
            <p class="card-text">
            </p>
        </div>
    </div>
</div>


{% endblock %}