{% extends 'fragments/base.html' %}

{% block content %}
<form action="" method="post">
    {{ project_form.hidden_tag() }}

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 mb-2">
            <div class="card bg-light">
                <div class="card-header">Title</div>
                <div class="card-body">
                    <div class="justify-content-center">
                        <div class="form-group mx-sm-3 mb-2">
                            {{ project_form.title.label(class='mr-2') }}
                            {{ project_form.title(class='form-control') }}
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            {{ project_form.description.label(class='mr-2') }}
                            {{ project_form.description(class='form-control') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 mb-2">
            <div class="card bg-light">
                <div class="card-header">Preferred Skills</div>
                <div class="card-body">
                    <div class="">
                        <div class="form-group mx-sm-3 mb-2">
                            {{ project_form.skill_selection }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 mb-2 text-center">
            {{ project_form.submit(class='btn btn-primary mb-2') }}
        </div>
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

</form>

{% endblock %}