{% extends 'fragments/base.html' %}

{% block content %}

{% for project in projects %}

<div class="row">
    <div class="card" style="width:300px;">
    <img class="card-img-top" data-src="holder.js/300x250?text=Project Image" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{ project.title }}</h5>
        <p class="card-text">{{ project.description }}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Contributors {{ project.contributors|length }}</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>

{% endfor %}
</div>

{% endblock %}
