{% extends 'fragments/base.html' %}

{% block content %}

<div class="row">
    <div class="col-2"></div>
    <div class="col-8 mb-2">
        <div class="card bg-light">
            <div class="card-header">
                {{ user.email }}
                {% if current_user == user %}
                    <a href="{{ url_for('settings.account_details') }}">
                        <span class="float-right" data-feather="edit"></span>
                    </a>
                {% endif %}
            </div>
            <div class="card-body">
                <img src="{{ user.avatar(80) }}" class="rounded float-left">
                <div class="card-title">{{ user.first_name }} {{ user.last_name }}</div>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in urna a mauris ultricies porta a vel sem. Cras vitae urna in leo rhoncus cursus. Aenean euismod justo sit amet diam facilisis, sit amet fringilla nisi consectetur. Vivamus a facilisis metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel hendrerit ligula. Etiam felis nunc, gravida vitae arcu sit amet, dictum fringilla lorem. Sed laoreet sem quis nibh placerat porta. Pellentesque turpis urna, suscipit in volutpat id, fringilla non ipsum.</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-2"></div>
    <div class="col-4 mb-2">
        <ul class="list-group">
            <div class="text-center">
                <h5 class="text-muted">Skills</h5>
            </div>
            {% for skill in user.skills %}
                <li class="list-group-item">{{ skill.name.value }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-4 mb-2">
        <div class="text-center">
                <h5 class="text-muted">Coursework</h5>
            </div>
        <ul class="list-group">
            {% for course in user.courses %}
                <li class="list-group-item">{{ course.name.value }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-2"></div>
    <div class="col-8 mb-2">
        <div class="card bg-light">
            <div class="card-header">Contributions</div>
            <div class="card-body">
                <ul class="list-group">
                    {% for project in user.contribution_projects %}
                    <li class="list-group-item">
                        <a href="{{ url_for('project.project', project_id=project.uuid) }}">{{ project.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-2"></div>
    <div class="col-8 mb-2">
        <div class="card bg-light">
            <div class="card-header">Projects</div>
            <div class="card-body">
                <ul class="list-group">
                    {% for project in user.projects %}
                    <li class="list-group-item">
                        <a href="{{ url_for('project.project', project_id=project.uuid) }}">{{ project.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}