{% extends 'fragments/base.html' %}

{% block content %}
<form action="" method="post">
    {{ portfolio_form.hidden_tag() }}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 mb-2">
            <div class="card bg-light">
                <div class="card-header">Skills</div>
                <div class="card-body">
                    <div class="justify-content-left">
                        <div class="form-group mb-2">
                            {{ portfolio_form.skill_selection() }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 mb-2">
            <div class="card bg-light">
                <div class="card-header">Courses</div>
                <div class="card-body">
                    <div class="justify-content-left">
                        <div class="form-group mb-2">
                            {{ portfolio_form.course_selection() }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 mb-2 text-center">
            {{ portfolio_form.submit(class='btn btn-primary mb-2') }}
        </div>
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

</form>

{% endblock %}